.vscode
bindings/
build/
build-support/
contrib/
doc/
examples/
cmake-cache/
LICENSES/
src/antenna/
src/aodv/
src/dsdv/
src/test/
src/dsr/
src/network/
src/topology-read/
src/energy/
src/nix-vector-routing/
src/traffic-control/
src/bridge/
src/fd-net-device/
src/olsr/
src/uan/
src/brite/
src/flow-monitor/
src/openflow/
src/virtual-net-device/
src/buildings/
src/internet/
src/point-to-point/
src/visualizer/
src/click/
src/internet-apps/
src/point-to-point-layout/
src/wifi/
src/CMakeLists.txt
src/lr-wpan/
src/propagation/
src/wimax/
src/config-store/
src/lte/
src/sixlowpan/
src/zigbee/
src/core/
src/mesh/
src/spectrum/
src/csma/
src/mobility/
src/stats/
src/csma-layout/
src/mpi/
src/tap-bridge/
src/netanim
csrc/
utils/
examples/
RELEASE_NOTES.md
test.py
AUTHORS
CMakeLists.txt
resultado.txt
CODE_OF_CONDUCT.md
LICENSE
utils.py
ns3
VERSION
CONTRIBUTING.md
pyproject.toml
setup.py
CHANGES.md
README(ns3).md
src/applications/model/application-packet-probe.cc
src/applications/model/sink-application.h
src/applications/model/application-packet-probe.h
src/applications/model/source-application.cc
src/applications/model/bulk-send-application.cc
src/applications/model/source-application.h
src/applications/model/bulk-send-application.h
src/applications/model/three-gpp-http-client.cc
src/applications/model/three-gpp-http-client.h
src/applications/model/three-gpp-http-header.cc
src/applications/model/three-gpp-http-header.h
src/applications/model/three-gpp-http-server.cc
src/applications/model/three-gpp-http-server.h
src/applications/model/onoff-application.cc
src/applications/model/three-gpp-http-variables.cc
src/applications/model/onoff-application.h
src/applications/model/three-gpp-http-variables.h
src/applications/model/packet-loss-counter.cc
src/applications/model/udp-client.cc
src/applications/model/packet-loss-counter.h
src/applications/model/udp-client.h
src/applications/model/packet-sink.cc
src/applications/model/udp-echo-client.cc
src/applications/model/packet-sink.h
src/applications/model/udp-echo-client.h
src/applications/model/seq-ts-echo-header.cc
src/applications/model/udp-echo-server.cc
src/applications/model/seq-ts-echo-header.h
src/applications/model/udp-echo-server.h
src/applications/model/seq-ts-header.cc
src/applications/model/udp-server.cc
src/applications/model/seq-ts-header.h
src/applications/model/udp-server.h
src/applications/model/seq-ts-size-header.cc
src/applications/model/udp-trace-client.cc
src/applications/model/seq-ts-size-header.h
src/applications/model/udp-trace-client.h
src/applications/model/sink-application.cc
src/applications/helper/bulk-send-helper.cc
src/applications/helper/packet-sink-helper.cc
src/applications/helper/bulk-send-helper.h
src/applications/helper/packet-sink-helper.h
src/applications/helper/cod-service-helper.cc
src/applications/helper/three-gpp-http-helper.cc
src/applications/helper/cod-service-helper.h
src/applications/helper/three-gpp-http-helper.h
src/applications/helper/context-providers-helper.cc
src/applications/helper/udp-client-server-helper.cc
src/applications/helper/context-providers-helper.h
src/applications/helper/udp-client-server-helper.h
src/applications/helper/on-off-helper.cc
src/applications/helper/udp-echo-helper.cc
src/applications/helper/on-off-helper.h
src/applications/helper/udp-echo-helper.h
src/applications/test/
.clang*
.editorconfig
.lock*
setup.cfg


